<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575320661777-lsin5ibaqce4gc89ksppfhbpgn58utkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575320661777-lsin5ibaqce4gc89ksppfhbpgn58utkk</string>
	<key>API_KEY</key>
	<string>AIzaSyCac0UQZywn0q_npRH7u_MUay4o0GL5MsU</string>
	<key>GCM_SENDER_ID</key>
	<string>575320661777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kosmoClub</string>
	<key>PROJECT_ID</key>
	<string>kosmo-club</string>
	<key>STORAGE_BUCKET</key>
	<string>kosmo-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575320661777:ios:469fef1abe2d1a072c36b0</string>
</dict>
</plist>